{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ category }}</h2>

    <div class="list-group">
        {% for category in categories %}
            <a href="categories/{{category}}" class="list-group-item list-group-item-action">{{ category }}</a>
        {% endfor %}
    </div>


    {% for listing in listings %}
    <div class="listing border rounded">
        <img src="{{ listing.image_url }}" class="border">
        <div style="padding: 20px;">
            <a href="/listing/{{listing.id}}"><h3>{{ listing.title }}</h3></a>
            <p>{{ listing.description }}</p>
            <strong>Starting price: {{ listing.starting_price }}$</strong>

            {% if listing.seller == user %}
                <p>this yours dawg</p>
            {% else %}
                <p>{{ listing.seller }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}


    
{% endblock %}